$font-size-base: 55px;
$font-family: 'Roboto', sans-serif;

$theme-colors: (

  success: #28a745,
  danger: #dc3545,
  warning: #ffc107,
  info: #17a2b8,

  primary-light: #b39ddb,
  secondary-light: #b2ebf2,
  background-light: #f5f5f5,

  primary-dark: #6200ea,
  secondary-dark: #03dac6,
  background-dark: #333,

  primary-dark-text: #fff,
  secondary-dark-text: #000,

  primary-light-text: #000,
  secondary-light-text: #000,
);
