.quiz-container {
  padding: 12px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

button {
  border: none;
  margin-top: 18px;
  font-weight: bold;
  padding: 12px 18px;
  border-radius: 5px;
  background-color: #f1f1f1;
  cursor: pointer;

  &:hover {
    background-color: #e1e1e1;
  }
}

.navigation-buttons {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
